.expense-filter {
    margin-bottom: 18px;
}

.expense-filter__control {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 16px;
    font-weight: 600;
}

.expense-filter__control select {
    padding: 12px 20px;
    font-weight: 600;
    color: #222222;
    font-size: 16px;
    border-radius: 6px;
}